.dashboard__page {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard__content {
  flex: 1 0 auto;
  display: flex;
  overflow: auto;
  max-height: calc(100% - 60px);
}

.dashboard__spinner {
  width: 5rem;
  height: 5rem;
}
